@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

.font {
    font-family: "Lato", sans-serif;
}

.logo-style {
    background: linear-gradient(90deg, #3E3F29, #7D8D86, #3E3F29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #BCA88D 1px 0 20px;
}

.bg-dot-grid {
  background-image: radial-gradient(#ffffff1a 1px, transparent 1px);
  background-size: 20px 20px;
}

.bg-image{
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
