@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

.font {
    font-family: "Lato", sans-serif;
}

.logo-style {
    background: linear-gradient(90deg, #460911ca, #9b111f, #b51a2d98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-image{
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
